Requirements
--------------

INTRO:
Create a questionnaire app. The user will see the questions one by one. At the end, they will get how much afinity they have to implement blockchain into each of these 5 verticals
	- DATA
	- LOGISTICS
	- IDENTITY VALIDATION
	- FIDELIZATION
	- PAYMENTS

Sample Questions:
	- How big is your company?
		- 0-10
		- 10-100
		- >100
	- How many users you have?
		- 0
		- 10-100
		- 100-1000
		- >1000

IMPORTANT NOTES:
	- Assume the number of questions to be arbitrary. The client could add or remove questions at any time. You don't have to create a front-end for that, they will do it using command line.
	- We need to store the email to contact him/her later.
	- (Ignore this if you don't have time) The same user cannot use the form more than once. Use his email for authorization.
	- There are no multiple versions of the form. EVERY question in the database will be shown to the user.
